<p class="slide-menu-item">
    Instructions:<br>
    Press '?' for keyboard shortcuts. To obtain a PDF-file of the slides open this <a href="?print-pdf" target="_blank">link</a> in Google Chrome and use the print dialog (this may not work for other browsers).
</p>
<span class="slide-menu-item">Author: <a href="https://www.technologyscout.net">Dr. Sasha Göbbels</a></span>
